
#Preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999999;
}

#Status {
	width: 100%;
	padding: 30px 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin: -80px 0;
}

.message_title, .message_description{
	text-transform: uppercase;
	margin-bottom: 5px;
}

/* Loading text flash animation */
.loading{animation: blinker 1.5s linear infinite;}

@keyframes blinker {  
	50% { opacity: 0; }
}



/*--------------------------------------------------------------
6.	Navbar - One page main menu
--------------------------------------------------------------*/
.navbar-inverse{
	margin-bottom: 0px;
	border: 0px;
	border-radius: 0px;
	background-color: #1a1a1a;
	box-shadow: 0px 1px 3px rgba(42, 42, 42, 0.2);
}

.navbar-inverse .nav li a{
	padding: 24px 25px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}

.navbar-inverse .nav li a:hover{
	color: #ec3237;
}


/*--------------------------------------------------------------
#	Logo - Brand Logo
--------------------------------------------------------------*/
.navbar-inverse .navbar-brand{
	height: auto;
	font-weight: 600;
	color: #ffffff;
	padding: 0px;
}

.brand_logo{
	display: inline-block;
	padding: 0px 10px;
	width: 90px;
	max-width: 90px;
	height: 70px;
	float: left;
}

.brand_title{
	display: block;
	padding: 25px 10px;
	float: left;
}


/*--------------------------------------------------------------
7.	Main Cover
--------------------------------------------------------------*/
.cover{
	padding: 170px 0px;
    height: 650px;
    background: transparent;
    background:url(../Images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover_wrap{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.cover_info{
	position: absolute;
    height: 89%;
    width: 100%;
    display: table;
    background-color: rgba(236, 51, 55, 0.7);
    color: #FFF;
}

.cover_content{
	display: table-cell;
    vertical-align: middle;
    color: #FFF;
}



.cover_title{
	font-weight: 700;
	font-size: 4em;
	color: #ffffff;
	text-shadow: 0px 5px 10px #af2424;
}

.cover_subtitle{color: #ffffff;}

/* Cover Button */
.cover_cta{margin-top: 15px;}

.section_scroll{
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #ffffff;
    /* Absolute Position Center */
    transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 100%;
    /* Floating Animation */
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    
}
.section_scroll:hover{color: #ffffff;}
a.section_scroll:focus, a:hover{color: #ffffff;outline: 0;}

@keyframes Floatingx{
    0% {transform:translate(0px, 0px);}
    50% {transform:translate(0px, 20px);}
    100% {transform: translate(0px, 0px);    }    
}
    


.profile{margin-bottom: 50px;}
.profile_title{
	font-weight: 700;
	text-transform: uppercase;
}

.social
{
	position:relative;
	overflow:hidden;
	margin:10px 0px;
	padding-top:25px;
	border-top:1px solid #fafafa;
}
.social_ico li
{
	display:inline-block;
}
.social_ico li a
{
	display:block;
	width:40px;
	height:40px;
	line-height:42px;
	margin-right:10px;
	margin-bottom:15px;
	font-size:28px;
	text-align:center;
	border:1px solid #999999;
	color:#777777;
}
.social_ico li a:hover
{
	background:#ec3237;
	color:#ffffff;
	border: 1px solid #ec3237;
}
.btn
{
	padding:10px 25px;
	border-radius:0px;
	text-transform:uppercase;
	margin-bottom:15px;
	font-size:1.1em;
	transition:all .2s ease-in-out;
}
.btn:hover
{
	color:#fff;
	transition:all .2s ease-in-out;
}
btn-default{
	background-color: transparent;
	border: 2px solid #444444;
	color: #444444;
}
.btn-default:hover{
	background-color: #444444;
	color: #ffffff;
	border: 2px solid #444444;
}
.btn-default:focus, .btn-default:active{
	color: #444444;
	background-color: #444444;
}


/*--------------------------------------------------------------
#	Theme Button - Call to action button
--------------------------------------------------------------*/
.btn_cta{
	background-color: #ec3237;
	color: #ffffff;
}
.btn_cta:hover{background-color: #c62d32; color: #ffffff;}


/* Button Inverse */
.btn_inverse{
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
}
.btn_inverse:hover{background-color: #ffffff;; color: #ec3237;}




.btn_inverse
{
	border:2px solid #fff;
	
	color:#fff;
}
.btn_inverse:hover
{
	background:#fff;
	color:rgba(236, 51, 55, 1);
	
}
.skill
{
	margin-top:30px;
	margin-bottom:70px;
	overflow:hidden;
	position:relative;
}
.progress_wrap
{
	margin-top:24px;
}
.progress
{
	height:12px;
	line-height:12px;
}
.progress-bar
{
	background-color:#ec3237;
}
.progress_tittle
{
	display:inline-block;
	color:#777777;
	margin-bottom:5px;
	text-transform:uppercase;
}
.profile_tittle
{
	font-weight:700;
}
.counter_box
{
	background:url(../Images/project-counter.jpg);
	
	padding:100px 0;
	background-size:cover;
	margin-top:70px;
}
.counter_wrap
{
	padding:10px 5px;
	border:1px solid rgba(255,255,255,.1)
}
.counter_icon
{
	width:40px;
	height:40px;
	line-height:45px;
	margin:0 auto;
	margin-bottom:15px;
	color:#ec3237;
	text-align:center;
}
.counter
{
	font-size:3em;
	color:#fff;
	font-weight:600;
}
.counter_tittle
{
	text-transform:uppercase;
	font-weight:600;
	color:#ec3237;
}

footer
{
	position:relative;
	color:##ffffff;
	overflow:hidden;
}
.contact_title
{
	font-weight:600;
	text-transform:uppercase;
}
.contact_info
{
	position:relative;
	overflow:hidden;
	padding:10px 0;
}
.contact_icon
{
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	float:left;
}
contact_icon li
{
	color:#777777;
}
.contact_details
{
	padding: 0;
	margin:0;
	padding-left:40px;
	color:#777777;
}

.copyright
{
	padding:30px 0;
	background:#ffffff;
	border-top:1px solid #fafafa;
}
.copyright_text
{
	margin:0;
	font-size:1em;
	color:#9e9e9e;
}

.form-control
{
	padding:20px 15px;
	margin-bottom:15px;
	border:2px solid #cccccc;
	width:100%;
	color:#444444;
	font-weight:600;
	font-size:16px;
}
.form-control::placeholder{
	color: #999999;
	font-size: 16px;
	font-weight: 300;
}

