<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/index.css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Index</title>
</head>

<body>

<!-- ========== MAIN CONTAINER ========== -->
	<div class="wrapper">

	    <!-- ========== PRELOADER ========== -->
	    <div id="Preloader">
	      	<div id="Status">
		      	<h4 class="message_title">CODER.BITS</h4>
		      	<p class="message_description">Frontend Web Developer</p>
		      	<span class="loading">Loading...</span>
	      	</div>
	    </div>
	    <!-- ========== PRELOADER ========== -->


		<!-- ========== NAVIGATION ========== -->
        
        
		<nav class="navbar navbar-inverse navbar-fixed-top">
   			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" 
					 data-toggle="collapse" data-target="#mobile-navbar-collapse">
						 <span class="sr-only">Toggle navigation</span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
					</button>

					<!-- Site Logo -->
					<a class="navbar-brand scroll" href="#Home">
						<!-- Site Logo -->
						<img class="brand_logo" src="Images/logo.png" alt="Coder Bits Freelance Web Developer">
						<!-- Site Name -->
						<span class="brand_title">CODER.BITS</span>
					</a>
					<!-- Site Logo -->
				</div>

				<!-- Main Navigation -->
				<div class="collapse navbar-collapse" id="mobile-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="current"><a href="#home">Home</a></li>
						<li><a href="#about">About</a> </li>
						<li><a href="#work">Work</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#contact">Hire Me</a></li>
					</ul>
				</div>
				<!-- Main Navigation -->
		   	</div>
		</nav>
		<!-- ========== NAVIGATION ========== -->


		<!-- ========== HERO COVER ========== -->
        
		<section id="home" class="cover" data-paroller-factor="0.3">
			<div class="cover_wrap">
				<div class="cover_info">
					<div class="cover_content">
						<div class="container">
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
								<h1 class="cover_title">LETS WORK ON SOMETHING INTERESTING TODAY</h1>
								<h3 class="cover_subtitle">Frontend Developer based in London UK</h3>
								<a href="#about" class="btn btn_inverse cover_cta scroll">Know More &raquo;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- On scroll second section -->
			<a class="section_scroll scroll" href="#about"><i class="fa fa-angle-down fa-4x"></i></a>
		</section>
		<!-- ========== HERO COVER ========== -->


		<!-- ========== ABOUT ME ========== -->
        
		<section id="about">
			<div class="container">
				
				<!-- SECTION HEADING -->
				<div class="col-xs-12 section_heading">
					<h2 class="section_title">ABOUT ME</h2>
					<p class="section_subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				</div>
				<!-- SECTION HEADING -->

				<!-- ABOUT DESCRIPTION -->
				<div class="profile">

					<div class="col-xs-12 col-sm-5 col-md-4">
						<!-- Profile Image 500x500px-->
						<img class="profile_cover" src="Images/profile_photo.jpg" alt="profile picture text">
					</div>
                    <div class="col-md-2"></div>
					<div class="col-xs-12 col-sm-7 col-md-6">
						<!-- Profile Title / Name -->
						<h2 class="profile_title">Carolina Sander</h2>
						<!-- Profile SubTitle / Designation -->
						<h4 class="profile_subtitle">Frontend Web Developer</h4>
						<!-- Primary writeup -->
						<p>London based frontend developer and designer aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
						<br/><br/>
						Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. 
						<br/><br/>
						Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper nisi. Nam eget dui. Etiam rhoncus.
						</p>

						<!-- Social Media links -->
						<div class="social">
							<ul class="social_ico">
								<li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
								<li><a href="#" target="_blank" title="Behance"><i class="fa fa-behance"></i></a></li>
								<li><a href="#" target="_blank" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							</ul>
						</div>
						<!-- Social Media links -->

					</div>
				</div>
                </div>
				<!-- ABOUT DESCRIPTION -->
					<div class="container">
                    <div class="skills">
                    	<div class="col-xs-12 col-md-6">
                        	<h2 class="profile_tittle">MY SKILLS</h2>
                            <p>About My skills and past work experience Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                        <div class="progress_wrap">
                        <span class="progress_tittle">PSD TEMPLATE</span>
                        <span class="pull-right text-muted">40%</span>
                      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                   </div>
                   </div>
                   
				<div class="progress">
                
 			  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax=						              "100" style="width: 20%">
    		<span class="sr-only">20% Complete</span>
  			</div>
				</div>
                <span class="progress_tittle">PSD TEMPLATE</span>
                        <span class="pull-right text-muted">40%</span>
			<div class="progress">
 		 <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 				        style="width: 60%">
  		  <span class="sr-only">60% Complete (warning)</span>
  			</div>
			</div>
            <span class="progress_tittle">PSD TEMPLATE</span>
                        <span class="pull-right text-muted">40%</span>
			<div class="progress">
 			 <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"             style="width: 80%">
  		  <span class="sr-only">80% Complete (danger)</span>
  			</div>
			</div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                    	<a class="btn btn_cta scroll" href="#work">MY SERVICES</a>
                    </div>
				
		</section>
		<!-- ========== ABOUT ME ========== -->

<div id="section_counter" class="counter_box" data-paroller-factor="0.3">
	<div class="container">
    	<div class="col-md-3 text-center">
        	<div class="counter_wrap">
            	<div class="counter_icon">
                	<i class="fa fa-magic fa-2x"></i>
                </div>
                <span class="counter">795</span>
                <h4 class="counter_tittle">Logo Design</h4>
                
            </div>
            
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
					<div class="counter_wrap">
						<!-- Counter icon -->
						<div class="counter_icon">
							<i class="fa fa-desktop fa-2x"></i>
						</div>
						<!-- Main counter -->
						<span class="counter">1459</span>
						<!-- Counter title -->
						<h4 class="counter_tittle">Websites</h4>
					</div>
		</div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
					<div class="counter_wrap">
						<!-- Counter icon -->
						<div class="counter_icon">
							<i class="fa fa-wordpress fa-2x"></i>
						</div>
						<!-- Main counter -->
						<span class="counter">359</span>
						<!-- Counter title -->
						<h4 class="counter_tittle">Wordpress</h4>
					</div>
		</div>

				<div class="col-xs-12 col-sm-3 col-md-3 text-center">
					<div class="counter_wrap">
						<!-- Counter icon -->
						<div class="counter_icon">
							<i class="fa fa-smile-o fa-2x"></i>
						</div>
						<!-- Main counter -->
						<span class="counter">3459</span>
						<!-- Counter title -->
						<h4 class="counter_tittle">Happy Clients</h4>
					</div>
		</div>
        
    </div>

</div>

<footer id="section_contact" class="contact">
			<div class="container">
				
				<!-- SECTION HEADING -->
				<div class="col-xs-12 section_heading">
					<h2 class="section_title">HIRE ME</h2>
					<p class="section_subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				</div>
				<!-- SECTION HEADING -->

                
                <div class="col-xs-12 col-sm-8 col-md-6">
                	<div class="contact_container">
						<!-- Hire me Writeup -->
	                  	<h4 class="contact_title">Contact Info</h4>
						<p>Why you should hire me writeup Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque nascetur ridiculus mus.
						</p>
						<!-- Hire me Writeup end-->

						<!-- Contact Details for Communication start -->
	                    <div class="contact_info">
	                    	<div class="contact_icon">
	                    		<i class="fa fa-map-marker"></i>
	                    	</div> 
	                    	<p class="contact_details">New Street 22545, Nexa Road, New York City, USA</p>
	                    </div>
	                    <div class="contact_info">
	                    	<div class="contact_icon">
	                    		<i class="fa fa-envelope"></i>
	                    	</div> 
	                    	<p class="contact_details"><a class="link" href="mailto:yourname@gmail.com">hello@uigrid.com</a></p>
	                    </div>
	                    <div class="contact_info">
	                    	<div class="contact_icon">
	                    		<i class="fa fa-phone"></i>
	                    	</div> 
	                    	<p class="contact_details"> 001-000-000-000</p>
	                    </div>
						<!-- Contact Details for Communication end -->

						<!-- Social Media links start -->
						<div class="social">
							<ul class="social_ico">
								<li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
								<li><a href="#" target="_blank" title="Behance"><i class="fa fa-behance"></i></a></li>
								<li><a href="#" target="_blank" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							</ul>
						</div>
						<!-- Social Media links end -->
					</div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                	<div class="contact_container">
                		<!-- Contact Form -->
	                    <form id="ajax-contact" method="post" action="send.php">
							<div class="field">
								<input type="text" id="name" class="form-control" name="name" placeholder="Enter Name" required>
							</div>

							<div class="field">
								<input type="email" id="email" class="form-control" name="email" placeholder="Enter Email" required>
							</div>

							<div class="field">
								<textarea id="message" class="form-control" name="message" placeholder="Enter Message" rows="6" required></textarea>
							</div>

							<div class="field">
								<button type="submit" class="btn btn_cta">Send Message</button>
							</div>
						</form>
					  	<div id="form-messages"></div>
						<div class="clearfix"></div>
						<!-- Contact Form -->
                    </div>
                </div>
				<div class="clearfix"></div>

			</div>
		</footer>
        

		<div class="copyright text-center">
        <p class="copyright_text">Copyright © 2017 UIGRID | All Rights Reserved |<a class="link" href="http://www.uigrid.com">http://www.uigrid.com</a></p>
        </div>

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
